---
layout: page
title: Home
---

<section class="list">
    <title_section>NEWS</title_section>
    <ul>
    {% for post in site.posts %}
        {% if post.updates %}
            <aside>
                <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
            </aside>
            {% if post.headerImage %}
                <li> <img style="vertical-align:middle" src="{{ post.image }}" width="{{ post.width }}" height="{{ post.height }}"> {{ post.title }} </li>
            {% else %}
                <li> {{ post.title }} </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
</section>
