---
layout: page
title: Home
---

<section class="list">
    <title_section>NEWS</title_section>
    <ul class="post-list">
    {% for post in site.posts %}
        {% if post.updates %}
            <!-- <aside>
                <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
            </aside>
            {% if post.headerImage %}
            <li class="post-item"> <img style="vertical-align:middle" src="{{ post.image }}" width="{{ post.width }}" height="{{ post.height }}"> {{ post.title }} </li>
            {% else %}
            <li class="post-item"> {{ post.title }} </li>
            {% endif %} -->
            <!-- <li>
                {% if post.headerImage %}
                <img src="{{ post.image }}" width="{{ post.width }}" height="{{ post.height }}">
                {% endif %}
                <div class="post-title">
                    {{ post.title }}
                    <aside>
                        <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
                    </aside>
                </div>
            </li> -->
            
            <li class="post-item">
                {% if post.headerImage %}
                <div class="post-col post-img">
                    <img class="post-thumb" src="{{ post.image }}" width="{{ post.width }}" height="{{ post.height }}">
                </div>
                {% endif %}
                <div class="post-col post-title">
                    {{ post.title }}
                    <aside>
                        <time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time>
                    </aside>
                </div>
            </li>


            
        {% endif %}
    {% endfor %}
    </ul>
</section>
