---
title: Publications & Talks
layout: page
---

Visit my Google Scholar profile <a class="ext_link" href="https://scholar.google.com/citations?user=MWKfdVQAAAAJ&hl=en&oi=ao">here</a> <i class="fa fa-graduation-cap inline-icon"></i>.
<br><br>


<h2>2023</h2>

<div class="container-talk">
    <div class="afterLine">
        </u>Luca Castri</u> (27 October 2023)<br>
        <a class="ext_link" href="https://lcastri.github.io/talk/enhancing_human_robot_spatial_interaction_through_causal_inference.pdf">Enhancing Human-Robot Spatial Interaction through Causal Inference</a><br>
        University of Padua
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, S. Mghames and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2310.14925">Efficient Causal Discovery for Robotics Applications</a>”,<br>
        Proceedings of the Italian Conference on Robotics and Intelligent Machines (I-RIM 3D).
        {% include citation-nav.html filename="https://lcastri.github.io/publication/irim2023.bib" citnavID="irim2023" 
        showPDF=true pdfLink="https://arxiv.org/pdf/2310.14925.pdf"
        showPoster=true posterLink="https://lcastri.github.io/publication/irim2023_poster.pdf"
        showSlide=true slideLink="https://lcastri.github.io/publication/irim2023_slide.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2307.00065">Qualitative Prediction of Multi-Agent Spatial Interactions</a>”,<br>
        Proceedings of the IEEE International Conference on Robot and Human Interactive Communication<br>(RO-MAN).
        {% include citation-nav.html filename="https://lcastri.github.io/publication/roman2023.bib" citnavID="roman2023" 
        showPDF=true pdfLink="https://arxiv.org/pdf/2307.00065.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2304.11740">A Neuro-Symbolic Approach for Enhanced Human Motion Prediction</a>”,<br>
        Proceedings of the International Joint Conference on Neural Networks (IJCNN).
        {% include citation-nav.html filename="https://lcastri.github.io/publication/ijcnn2023.bib" citnavID="ijcnn2023" 
        showPDF=true pdfLink="https://arxiv.org/pdf/2304.11740.pdf" 
        %}
    </div>
</div>

<div class="container-talk">
    <div class="afterLine">
        </u>Luca Castri</u> (11 April 2023)<br>
        <a class="ext_link" href="https://lcastri.github.io/talk/causal_discovery_lecture.pdf">Causal Discovery Lecture</a><br>
        University of Padua
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, S. Mghames, M. Hanheide and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2302.10135">Enhancing Causal Discovery from Robot Sensor Data in Dynamic Scenarios</a>”,<br>
        Proceedings of the Conference on Causal Learning and Reasoning (CLeaR).<br>
        {% include citation-nav.html filename="https://lcastri.github.io/publication/clear2023.bib" citnavID="clear2023"
        showPDF=true pdfLink="https://arxiv.org/pdf/2302.10135.pdf"
        showCode=true codeLink="https://github.com/lcastri/fpcmci"
        showPyPI=true pypiLink="https://pypi.org/project/fpcmci/"
        showPoster=true posterLink="https://lcastri.github.io/publication/clear2023_poster.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, S. Mghames and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2301.03886">From Continual Learning to Causal Discovery in Robotics</a>”,<br>
        AAAI Bridge Program “Continual Causality”.
        {% include citation-nav.html filename="https://lcastri.github.io/publication/aaai2023.bib" citnavID="aaai2023"
        showPDF=true pdfLink="https://arxiv.org/pdf/2301.03886.pdf"
        showPoster=true posterLink="https://lcastri.github.io/publication/aaai2023_poster.pdf"
        %}
    </div>
</div>


<h2>2022</h2>

<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, S. Mghames, M. Hanheide and N. Bellotto (2022).<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2210.16535">Causal Discovery of Dynamic Models for Predicting Human Spatial Interactions</a>”,<br>
        Proceedings of the International Conference on Social Robotics (ICSR).
        {% include citation-nav.html filename="https://lcastri.github.io/publication/icsr2022.bib" citnavID="icsr2022"
        showPDF=true pdfLink="https://arxiv.org/pdf/2210.16535.pdf"
        showSlide=true slideLink="https://lcastri.github.io/publication/icsr2022_slide.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        S. Ghidoni, M. Terreran, D. Evangelista, E. Menegatti, C. Eitzinger, E. Villagrossi, N. Pedrocchi, N. Castaman, M. Malecha, S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2022).<br>
        "<a class="ext_link" href="https://eprints.lincoln.ac.uk/id/eprint/48515/1/Ghidoni2022.pdf">From Human Perception and Action Recognition to Causal Understanding of Human-Robot Interaction in Industrial Environments</a>",<br> 
        Convegno Nazionale CINI sull’Intelligenza Artificiale (Ital-IA), Online.
        {% include citation-nav.html filename="https://lcastri.github.io/publication/italIA2022.bib" citnavID="italIA2022"
           showPDF=true pdfLink="https://eprints.lincoln.ac.uk/id/eprint/48515/1/Ghidoni2022.pdf"
        %}
    </div>
</div>

<!-- <div class="container-talk">
    <p class="afterLine">Text left</p>
</div> -->
<!-- <ul> -->
    <!-- <li>
        <u>L. Castri</u>, S. Mghames and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2310.14925">Efficient Causal Discovery for Robotics Applications</a>”,<br>
        Proceedings of the Italian Conference on Robotics and Intelligent Machines (I-RIM 3D).
        {% include citation-nav.html filename="https://lcastri.github.io/publication/irim2023.bib" citnavID="irim2023" 
        showPDF=true pdfLink="https://arxiv.org/pdf/2310.14925.pdf"
        showPoster=true posterLink="https://lcastri.github.io/publication/irim2023_poster.pdf"
        showSlide=true slideLink="https://lcastri.github.io/publication/irim2023_slide.pdf"
        %}
    </li> -->
    <!-- <li>
        S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2307.00065">Qualitative Prediction of Multi-Agent Spatial Interactions</a>”,<br>
        Proceedings of the IEEE International Conference on Robot and Human Interactive Communication<br>(RO-MAN).
        {% include citation-nav.html filename="https://lcastri.github.io/publication/roman2023.bib" citnavID="roman2023" 
           showPDF=true pdfLink="https://arxiv.org/pdf/2307.00065.pdf"
        %}
    </li> -->
    <!-- <li>
        S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2304.11740">A Neuro-Symbolic Approach for Enhanced Human Motion Prediction</a>”,<br>
        Proceedings of the International Joint Conference on Neural Networks (IJCNN).
        {% include citation-nav.html filename="https://lcastri.github.io/publication/ijcnn2023.bib" citnavID="ijcnn2023" 
           showPDF=true pdfLink="https://arxiv.org/pdf/2304.11740.pdf" 
        %}
    </li> -->
    <!-- <li>
        <u>L. Castri</u>, S. Mghames, M. Hanheide and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2302.10135">Enhancing Causal Discovery from Robot Sensor Data in Dynamic Scenarios</a>”,<br>
        Proceedings of the Conference on Causal Learning and Reasoning (CLeaR).<br>
        {% include citation-nav.html filename="https://lcastri.github.io/publication/clear2023.bib" citnavID="clear2023"
           showPDF=true pdfLink="https://arxiv.org/pdf/2302.10135.pdf"
           showCode=true codeLink="https://github.com/lcastri/fpcmci"
           showPyPI=true pypiLink="https://pypi.org/project/fpcmci/"
           showPoster=true posterLink="https://lcastri.github.io/publication/clear2023_poster.pdf"
        %}
    </li> -->
    <!-- <li>
        <u>L. Castri</u>, S. Mghames and N. Bellotto (2023)<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2301.03886">From Continual Learning to Causal Discovery in Robotics</a>”,<br>
        AAAI Bridge Program “Continual Causality”.
        {% include citation-nav.html filename="https://lcastri.github.io/publication/aaai2023.bib" citnavID="aaai2023"
           showPDF=true pdfLink="https://arxiv.org/pdf/2301.03886.pdf"
           showPoster=true posterLink="https://lcastri.github.io/publication/aaai2023_poster.pdf"
        %}
    </li> -->
<!-- </ul> -->
<!-- <h2>2022</h2>
<ul>    
    <li>
        <u>L. Castri</u>, S. Mghames, M. Hanheide and N. Bellotto (2022).<br>
        “<a class="ext_link" href="https://arxiv.org/abs/2210.16535">Causal Discovery of Dynamic Models for Predicting Human Spatial Interactions</a>”,<br>
        Proceedings of the International Conference on Social Robotics (ICSR).
        {% include citation-nav.html filename="https://lcastri.github.io/publication/icsr2022.bib" citnavID="icsr2022"
           showPDF=true pdfLink="https://arxiv.org/pdf/2210.16535.pdf"
           showSlide=true slideLink="https://lcastri.github.io/publication/icsr2022_slide.pdf"
        %}
    </li>
    <li>
        S. Ghidoni, M. Terreran, D. Evangelista, E. Menegatti, C. Eitzinger, E. Villagrossi, N. Pedrocchi, N. Castaman, M. Malecha, S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2022).<br>
        "<a class="ext_link" href="https://eprints.lincoln.ac.uk/id/eprint/48515/1/Ghidoni2022.pdf">From Human Perception and Action Recognition to Causal Understanding of Human-Robot Interaction in Industrial Environments</a>",<br> 
        Convegno Nazionale CINI sull’Intelligenza Artificiale (Ital-IA), Online.
        {% include citation-nav.html filename="https://lcastri.github.io/publication/italIA2022.bib" citnavID="italIA2022"
           showPDF=true pdfLink="https://eprints.lincoln.ac.uk/id/eprint/48515/1/Ghidoni2022.pdf"
        %}
    </li>
</ul> -->