---
title: Publications & Talks
layout: page
---

Visit my Google Scholar profile <a class="ext_link" href="https://scholar.google.com/citations?user=MWKfdVQAAAAJ&hl=en&oi=ao">here</a> <i class="fa fa-graduation-cap inline-icon"></i>.
<br><br>

<h2>2024</h2>
<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, G. Beraldo, S. Mghames, M. Hanheide and N. Bellotto (2024).<br>
        <b>ROS-Causal: A ROS-based Causal Analysis Framework for Human-Robot Interaction Applications</b>,<br>
        Workshop on Causal Learning for Human-Robot Interaction (Causal-HRI), ACM/IEEE International Conference on Human-Robot Interaction (HRI).
        {% include citation-nav.html citnavID="causalhri2024" 
        showCite=true bibLink="https://lcastri.github.io/publication/causalhri2024.bib"
        %}
    </div>
</div>

<h2>2023</h2>

<div class="container-talk">
    <div class="afterLine">
        </u>L. Castri</u> (27 October 2023).<br>
        <b>Enhancing Human-Robot Spatial Interaction through Causal Inference</b>,<br>
        University of Padua
        {% include citation-nav.html citnavID="talk_enhancing2023" 
        showSlide=true slideLink="https://lcastri.github.io/talk/enhancing_human_robot_spatial_interaction_through_causal_inference.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, S. Mghames and N. Bellotto (2023).<br>
        <b>Efficient Causal Discovery for Robotics Applications</b>,<br>
        <!-- “<a class="ext_link" href="https://arxiv.org/abs/2310.14925">Efficient Causal Discovery for Robotics Applications</a>”,<br> -->
        Proceedings of the Italian Conference on Robotics and Intelligent Machines (I-RIM 3D).
        {% include citation-nav.html citnavID="irim2023" 
        showCite=true bibLink="https://lcastri.github.io/publication/irim2023.bib"
        showArXiv=true arXivLink="https://arxiv.org/abs/2310.14925"
        showPDF=true pdfLink="https://arxiv.org/pdf/2310.14925.pdf"
        showPoster=true posterLink="https://lcastri.github.io/publication/irim2023_poster.pdf"
        showSlide=true slideLink="https://lcastri.github.io/publication/irim2023_slide.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2023).<br>
        <b>Qualitative Prediction of Multi-Agent Spatial Interactions</b>,<br>
        <!-- “<a class="ext_link" href="https://arxiv.org/abs/2307.00065">Qualitative Prediction of Multi-Agent Spatial Interactions</a>”,<br> -->
        Proceedings of the IEEE International Conference on Robot and Human Interactive Communication<br>(RO-MAN).
        {% include citation-nav.html citnavID="roman2023" 
        showCite=true bibLink="https://lcastri.github.io/publication/roman2023.bib"
        showArXiv=true arXivLink="https://arxiv.org/abs/2307.00065"
        showPDF=true pdfLink="https://arxiv.org/pdf/2307.00065.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2023).<br>
        <b>A Neuro-Symbolic Approach for Enhanced Human Motion Prediction</b>,<br>
        <!-- “<a class="ext_link" href="https://arxiv.org/abs/2304.11740">A Neuro-Symbolic Approach for Enhanced Human Motion Prediction</a>”,<br> -->
        Proceedings of the International Joint Conference on Neural Networks (IJCNN).
        {% include citation-nav.html citnavID="ijcnn2023" 
        showCite=true bibLink="https://lcastri.github.io/publication/ijcnn2023.bib"
        showArXiv=true arXivLink="https://arxiv.org/abs/2304.11740"
        showPDF=true pdfLink="https://arxiv.org/pdf/2304.11740.pdf" 
        %}
    </div>
</div>

<div class="container-talk">
    <div class="afterLine">
        </u>L. Castri</u> (11 April 2023).<br>
        <b>Causal Discovery Lecture</b>,<br>
        <!-- "<a class="ext_link" href="https://lcastri.github.io/talk/causal_discovery_lecture.pdf">Causal Discovery Lecture</a>",<br> -->
        Artificial Intelligence course of the Computer Science program @ University of Padua
        {% include citation-nav.html citnavID="talk_causaldiscoverylecture2023" 
        showSlide=true slideLink="https://lcastri.github.io/talk/causal_discovery_lecture.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, S. Mghames, M. Hanheide and N. Bellotto (2023).<br>
        <b>Enhancing Causal Discovery from Robot Sensor Data in Dynamic Scenarios</b>,<br>
        <!-- “<a class="ext_link" href="https://arxiv.org/abs/2302.10135">Enhancing Causal Discovery from Robot Sensor Data in Dynamic Scenarios</a>”,<br> -->
        Proceedings of the Conference on Causal Learning and Reasoning (CLeaR).<br>
        {% include citation-nav.html citnavID="clear2023"
        showCite=true bibLink="https://lcastri.github.io/publication/clear2023.bib"
        showArXiv=true arXivLink="https://arxiv.org/abs/2302.10135"
        showPDF=true pdfLink="https://arxiv.org/pdf/2302.10135.pdf"
        showCode=true codeLink="https://github.com/lcastri/fpcmci"
        showPyPI=true pypiLink="https://pypi.org/project/fpcmci/"
        showPoster=true posterLink="https://lcastri.github.io/publication/clear2023_poster.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, S. Mghames and N. Bellotto (2023).<br>
        <b>From Continual Learning to Causal Discovery in Robotics</b>,<br>
        <!-- “<a class="ext_link" href="https://arxiv.org/abs/2301.03886">From Continual Learning to Causal Discovery in Robotics</a>”,<br> -->
        AAAI Bridge Program “Continual Causality”.
        {% include citation-nav.html citnavID="aaai2023"
        showCite=true bibLink="https://lcastri.github.io/publication/aaai2023.bib"
        showArXiv=true arXivLink="https://arxiv.org/abs/2301.03886"
        showPDF=true pdfLink="https://arxiv.org/pdf/2301.03886.pdf"
        showPoster=true posterLink="https://lcastri.github.io/publication/aaai2023_poster.pdf"
        %}
    </div>
</div>


<h2>2022</h2>

<div class="container-paper">
    <div class="afterLine"> 
        <u>L. Castri</u>, S. Mghames, M. Hanheide and N. Bellotto (2022).<br>
        <b>Causal Discovery of Dynamic Models for Predicting Human Spatial Interactions</b>,<br>
        <!-- “<a class="ext_link" href="https://arxiv.org/abs/2210.16535">Causal Discovery of Dynamic Models for Predicting Human Spatial Interactions</a>”,<br> -->
        Proceedings of the International Conference on Social Robotics (ICSR).
        {% include citation-nav.html citnavID="icsr2022"
        showCite=true bibLink="https://lcastri.github.io/publication/icsr2022.bib"
        showArXiv=true arXivLink="https://arxiv.org/abs/2210.16535"
        showPDF=true pdfLink="https://arxiv.org/pdf/2210.16535.pdf"
        showSlide=true slideLink="https://lcastri.github.io/publication/icsr2022_slide.pdf"
        %}
    </div>
</div>

<div class="container-paper">
    <div class="afterLine"> 
        S. Ghidoni, M. Terreran, D. Evangelista, E. Menegatti, C. Eitzinger, E. Villagrossi, N. Pedrocchi, N. Castaman, M. Malecha, S. Mghames, <u>L. Castri</u>, M. Hanheide and N. Bellotto (2022).<br>
        <b>From Human Perception and Action Recognition to Causal Understanding of Human-Robot Interaction in Industrial Environments</b>,<br> 
        <!-- "<a class="ext_link" href="https://eprints.lincoln.ac.uk/id/eprint/48515/1/Ghidoni2022.pdf">From Human Perception and Action Recognition to Causal Understanding of Human-Robot Interaction in Industrial Environments</a>",<br>  -->
        Convegno Nazionale CINI sull’Intelligenza Artificiale (Ital-IA), Online.
        {% include citation-nav.html citnavID="italIA2022"
        showCite=true bibLink="https://lcastri.github.io/publication/italIA2022.bib"
        showPDF=true pdfLink="https://eprints.lincoln.ac.uk/id/eprint/48515/1/Ghidoni2022.pdf"
        %}
    </div>
</div>