---
title: Talks & Teaching
layout: page
---

<h2>Talks & Lectures</h2>
<div class="container-lecture">
    <div class="afterLine">
        </u>L. Castri</u> (18 November 2025).<br>
        <b>Causal Discovery for Time-Series Data</b>,<br>
        Artificial Intelligence course of the Computer Science program @ University of Padua
        {% include citation-nav.html citnavID="talk_causaldiscoverylecture2024_11_26" 
        showSlide=true slideLink="https://docs.google.com/presentation/d/1uaveDbg5Lhnld_S-zsU1IFHbXWftBXklFhi2TF5Fd1c/edit?usp=sharing"
        showPDF=true pdfLink="https://lcastri.github.io/talk/lecture-2024-11-26.pdf"
        %}
    </div>
</div>
<div class="container-talk">
    <div class="afterLine">
        </u>L. Castri</u> (20 June 2025).<br>
        <b>CausalFlow: A Unified Framework for Causality in Time-Series</b>,<br>
        sktime Meetup Series (Online) 
        {% include citation-nav.html citnavID="talk_sktime2025" 
        showSlide=true slideLink="https://docs.google.com/presentation/d/1gpo6074CDBLl05BTPvRy9_7SL0Wx59DzchMtED2sRss/edit?usp=sharing"
        showPDF=true pdfLink="https://lcastri.github.io/talk/talk-2025-06-20.pdf"
        %}
    </div>
</div>
<div class="container-talk">
    <div class="afterLine">
        </u>L. Castri</u> (11 June 2025).<br>
        <b>Causal Inference for Intelligent Mobile Robots in Dynamic Interaction Settings</b>,<br>
        Oxford Robotics Institute at the University of Oxford
        {% include citation-nav.html citnavID="talk_oxford2025" 
        showSlide=true slideLink="https://docs.google.com/presentation/d/1k2y8HcJhVDuftrdipaD6Y0qUv4FqlC0XqEi3lNlPz7A/edit?usp=sharing"
        showPDF=true pdfLink="https://lcastri.github.io/talk/talk-2025-06-11.pdf"
        %}
    </div>
</div>
<div class="container-lecture">
    <div class="afterLine">
        </u>L. Castri</u> (26 November 2024).<br>
        <b>Causal Discovery for Time-Series Data</b>,<br>
        Artificial Intelligence course of the Computer Science program @ University of Padua
        {% include citation-nav.html citnavID="talk_causaldiscoverylecture2024_11_26" 
        showSlide=true slideLink="https://docs.google.com/presentation/d/1uaveDbg5Lhnld_S-zsU1IFHbXWftBXklFhi2TF5Fd1c/edit?usp=sharing"
        showPDF=true pdfLink="https://lcastri.github.io/talk/lecture-2024-11-26.pdf"
        %}
    </div>
</div>
<div class="container-lecture">
    <div class="afterLine">
        </u>L. Castri</u> (17 April 2024).<br>
        <b>Causal Discovery for Time-Series Data</b>,<br>
        Artificial Intelligence course of the Computer Science program @ University of Padua
        {% include citation-nav.html citnavID="talk_causaldiscoverylecture2024_04_17" 
        showSlide=true slideLink="https://docs.google.com/presentation/d/1_gT6hA5DaadEfMs6oFbxyryXYAzJsTdoz6vzbrgYvaA/edit?usp=sharing"
        showPDF=true pdfLink="https://lcastri.github.io/talk/lecture-2024-04-17.pdf"
        %}
    </div>
</div>
<div class="container-talk">
    <div class="afterLine">
        </u>L. Castri</u> (27 October 2023).<br>
        <b>Enhancing Human-Robot Spatial Interaction through Causal Inference</b>,<br>
        University of Padua
        {% include citation-nav.html citnavID="talk_enhancing2023" 
        showSlide=true slideLink="https://docs.google.com/presentation/d/1Z2vXfB13XUXm6NbhQQqPBukR6iS8NujflgfSPQ7UEH8/edit?usp=sharing"
        showPDF=true pdfLink="https://lcastri.github.io/talk/talk-2023-10-27.pdf"
        %}
    </div>
</div>
<div class="container-lecture">
    <div class="afterLine">
        </u>L. Castri</u> (27 April 2023).<br>
        <b>Causal Discovery</b>,<br>
        Artificial Intelligence course of the Computer Science program @ University of Padua
        {% include citation-nav.html citnavID="talk_causaldiscoverylecture2023_04_27" 
        showSlide=true slideLink="https://docs.google.com/presentation/d/1BzYB_iZLyG3zaC2xef1C4AeL7Zk-3yT9ZOkf1ztaPwE/edit?usp=sharing"
        showPDF=true pdfLink="https://lcastri.github.io/talk/lecture-2023-04-11.pdf"
        %}
    </div>
</div>
<br>
<h2>Associate Demonstrator</h2>
<ul>
    <li>
        <div><em>Advanced Artificial Intelligence</em>, Autumn term 2021/2022</div>
    </li>
    <li>
        <div><em>Autonomous and Mobile Robotics</em>, Spring term 2021/2022</div>
    </li>
</ul>
<h2>Student Supervision</h2>
<ul>
    <li>
        <div>Denis Kosumovic BSc Student @ University of Padua. Bachelor Thesis.</div>
    </li>
    <li>
        <div>Devadharshini Sasikumar, MSc Student @ University of Lincoln. Master Thesis: <em>“Learning hierarchical tasks for human-robot on-demand co-production”</em>. Jan-Jun 2024</div>
    </li>
</ul>
