<div class="{{ include.citnavID }}" >

    <div class="citation-nav-container">
        
        {% capture derivedCitID %}{{ include.citnavID }}-citation{% endcapture %}
        {% include citation.html filename=include.filename citID=derivedCitID %}
        <div class="additional-buttons">
        {% if include.showPDF %}
            <a href="#" class="btn btn-outline-primary btn-publication">PDF</a>
        {% endif %}
        
        {% if include.showCode %}
            <a href="#" class="btn btn-outline-primary btn-publication">Code</a>
        {% endif %}

        {% if include.showPyPI %}
            <a href="#" class="btn btn-outline-primary btn-publication">PyPI</a>
        {% endif %}

        {% if include.showProject %}
            <a href="#" class="btn btn-outline-primary btn-publication">Project</a>
        {% endif %}

        {% if include.showPoster %}
            <a href="#" class="btn btn-outline-primary btn-publication">Poster</a>
        {% endif %}

        {% if include.showSlide %}
            <a href="#" class="btn btn-outline-primary btn-publication">Slide</a>
        {% endif %}

        {% if include.showVideo %}
            <a href="#" class="btn btn-outline-primary btn-publication">Video</a>
        {% endif %}

        </div>

    </div>

</div>