<div class="{{ include.citnavID }}" >

    <div class="citation-nav-container">
        
        {% capture derivedCitID %}{{ include.citnavID }}-citation{% endcapture %}
        
        <div class="additional-buttons">

            <a href="#" class="btn btn-outline-primary btn-publication js-cite-modal" data-filename="{{ include.filename }}">Cite</a>

            {% if include.showPDF %}
                <!-- <a href="{{ include.PDF }}" class="btn btn-outline-primary btn-publication">PDF</a> -->
                <a href="#" class="btn btn-outline-primary btn-publication">PDF</a>
            {% endif %}
            
            {% if include.showCode %}
                <a href="#" class="btn btn-outline-primary btn-publication">Code</a>
            {% endif %}

            {% if include.showPyPI %}
                <a href="#" class="btn btn-outline-primary btn-publication">PyPI</a>
            {% endif %}

            {% if include.showProject %}
                <a href="#" class="btn btn-outline-primary btn-publication">Project</a>
            {% endif %}

            {% if include.showPoster %}
                <a href="#" class="btn btn-outline-primary btn-publication">Poster</a>
            {% endif %}

            {% if include.showSlide %}
                <a href="#" class="btn btn-outline-primary btn-publication">Slide</a>
            {% endif %}

            {% if include.showVideo %}
                <a href="#" class="btn btn-outline-primary btn-publication">Video</a>
            {% endif %}

        </div>
    </div>

        <div class="{{ derivedCitID }}">
            <div class="citation-container">
                <pre class="citation" style="display: none; margin-bottom: 0px;"></pre>
                <div class="citation-buttons">
                    <div class="button-group">
                        <a class="btn btn-outline-success btn-publication btn-copy" style="display: none;">Copy</a>
                        <a href="#" class="btn btn-outline-primary btn-publication btn-download" download="citation.bib" style="display: none;">Download</a>
                    </div>
                </div>
            </div>
        </div>


    <script>
        (function() {
            var citationComponent = document.querySelector(".{{ derivedCitID }}");
            
            if (citationComponent) {
                var citeButton = document.querySelector(".js-cite-modal");
                var copyButton = citationComponent.querySelector(".btn-copy");
                var downloadButton = citationComponent.querySelector(".btn-download");
                var citation = citationComponent.querySelector(".citation");
            
                citeButton.addEventListener("click", function(event) {
                    event.preventDefault();
        
                    if (citation.style.display === "none" || citation.style.display === "") {
                        fetch(citeButton.getAttribute("data-filename"))
                            .then(response => response.text())
                            .then(data => {
                                citation.textContent = data; 
                                citation.style.display = "block";
                                copyButton.style.display = "inline-block";
                                downloadButton.style.display = "inline-block";
                            });
                    } else {
                        citation.style.display = "none";
                        copyButton.style.display = "none";
                        downloadButton.style.display = "none";
                    }
                });
                
                copyButton.addEventListener("click", function(event) {
                    event.preventDefault();
                    if (copyToClipboard(citation.textContent)) {
                        copyButton.classList.remove("btn-outline-success");
                        copyButton.classList.remove("btn-publication");
                        copyButton.classList.add("btn-success");
                        copyButton.textContent = "Copied!";
                        
                        setTimeout(function() {
                            copyButton.classList.add("btn-outline-success");
                            copyButton.classList.add("btn-publication");
                            copyButton.classList.remove("btn-success");
                            copyButton.textContent = "Copy";
                        }, 2000);
                    }
                });
                
                downloadButton.addEventListener("click", function(event) {
                    downloadButton.href = "data:text/plain;charset=utf-8," + encodeURIComponent(citation.textContent);
                });
            }
        })();
        
        function copyToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            
            try {
                document.execCommand("copy");
                return true; 
            } catch (err) {
                console.error("Unable to copy citation: " + err);
                return false; 
            } finally {
                document.body.removeChild(textArea);
            }
        }
    </script>

</div>